body {
  font-family: 'Inter', sans-serif;
  color: white;
  background-color: #ffffff;
  padding: 20px;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 900px;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
}

.container {
  max-width: 600px;
  margin: auto;
  background: rgb(88, 25, 25);
  padding: 38px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.image-wrapper {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.308);
    padding: 15px 1px
}

.image-wrapper img {
    max-width: 100%;
    height: auto;
    display: block;
}

textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  resize: none;
}

label {
  font-weight: bold;
  display: block;
  margin-top: 10px;
}

.button-group {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
    font-size: medium;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
}

.button-group button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: rgb(52, 0, 0);
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button-group button:hover {
    background-color: rgb(29, 8, 8);
}

.cara {
  margin-top: 20px;
  background: #f9f9f9;
  color: black;
  padding: 10px;
  border-left: 5px solid #999;
}

.madeby {
  font-weight: medium;
  display: block;
  margin-top: 10px;
}

.ghina {
  font-weight: medium;
  display: block;
  margin-top: 10px;
  line-height: 5px;
}

.note {
  color: #ffffff;
  font-style: italic;
  margin-bottom: 10px;
}
